/* Declaration des variables pour les  couleurs */
:root {
    --main-color: #1F425D;
    --second-color: #E94D1A;
    --third-color: #4AB9CF;
    --white-color: #FFFFFF;
}
#soulignement{
    width: 20%;
    display: block;
    margin: 0 auto;
    background-color: var(--second-color);
    height: 3px;
    margin-bottom: 5vh;
}
#titrePolitique{
    text-align: center;
}
.container{
    width: 65%;
    margin-top: 18%;
    margin-bottom: 5vh;
    padding-bottom: 10%;
   

}
.contenupoli{
    background-color: white;
}
.decCookies, .desConf{
    list-style: disc;
}
.politiqueNUm{
    list-style: numeric;
}